@font-face {
    font-family: "Dina Chaumont Display Bold";
    src:
	local("Dina Chaumont Display Bold"),
	url("fonts/DinaChaumont-DisplayBold.otf");
}

.page-title {
    font-family: "Dina Chaumont Display Bold";
    font-size: min(12vw, 5.25rem);
}
