:root {
    --main-bg-color: #ebd0d9;
    --main-fg-color: #303030;
    --accent-color: purple;
    --page-body-bg-color: white;
    --page-body-shadow-color: purple;
    --nav-current-color: azure;
}

@font-face {
    font-family: "PT Sans";
    src:
	local("PT Sans"),
	url("fonts/pt-sans_regular.ttf");
}

@font-face {
    font-family: "Gentium Book";
    src:
	local("Gentium Book"),
	url("fonts/GentiumBook-Regular.ttf");
}

@font-face {
    font-family: "EB Garamond Italic";
    src:
	local("EB Garamond Italic"),
	url("fonts/EBGaramond-Italic.ttf");
}

@font-face {
    font-family: "EB Garamond";
    src:
	local("EB Garamond"),
	url("fonts/EBGaramond-Regular.ttf");
}

.fancy-italic {
    font-family: "EB Garamond Italic";
    font-style: normal;
    font-weight: bold;
}

.language-plaintext {
    font-family: "Noto Sans Mono", monospace;
}

.sans-serif-face {
    font-family: "Droid Sans", "PT Sans", "Noto Sans", sans-serif;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 30px;
    font-family: "Gentium Book", "Noto Serif", serif;
    font-size: 1.2em;
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}

/* nav & body common styling */
.page-body,
.page-nav {
    background: var(--page-body-bg-color);
    border-radius: 4px;
    box-shadow: var(--page-body-shadow-color) 0px 0px 10px;
    border: solid var(--accent-color);
}

.page-body {
    padding: 0 20px 10px;
}

.page-nav {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.page-nav nav {
    display: flex;
    flex-direction: row;
}

.page-nav nav a {
    padding: .5em;
    font-weight: bold;
    font-size: 1.3rem;
}

@media (max-width: 500px) {
  .page-nav nav {
    flex-direction: column;
  }
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-current {
    color: var(--nav-current-color);
    background: var(--accent-color);
    text-decoration-line: unset;
}

.page-footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.page-footer img {
    width: 3rem;
}

code {
    font-family: "Jetbrains Mono", "Noto Sans Mono", monospace;
    font-size: .8rem;
}

/* this might suck for inline verbatim... */
[class^="language"] {
    justify-content: center;
}

.highlight pre {
    white-space: pre-wrap;
    /* margin: 20px; */
    width: fit-content;
}

a {
    color: var(--accent-color);
}

a:hover {
    background: var(--accent-color);
    color: var(--nav-current-color);
    padding: 2px;
    text-decoration-line: unset;
}

.img-href {
    background: none !important;
    padding: 0 !important;
}

blockquote {
    font-family: "EB Garamond Italic";
    font-size: 1.4rem;
    background: #f7f7f7;
    padding: 1px 20px 1px;
    border-left: .25em solid lightgray;
}

figcaption {
    font-size: 70%;
}
