:root {
    --main-bg-color: #ebd0d9;
    --main-fg-color: #303030;
    --accent-color: purple;
    --page-body-bg-color: white;
    --page-body-shadow-color: purple;
    --nav-current-color: azure;
}

.language-plaintext {
    font-family: "Noto Sans Mono", monospace;
}

.sans-serif-face {
    font-family: "Atkinson Hyperlegible", "PT Sans", "Noto Sans", sans-serif;
}

body {
    max-width: 700px;
    margin: 0 auto;
    padding: 15px 30px;
    font-family: "Gentium Book", "Noto Serif", serif;
    font-size: 1.1rem;
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}

/* nav & body common styling */
.page-body,
.page-nav {
    background: var(--page-body-bg-color);
    border-radius: 4px;
    box-shadow: var(--page-body-shadow-color) 0px 0px 10px;
    border: solid var(--accent-color);
}

.page-body {
    padding: 0 10px 10px;
}

.page-nav {
    padding: 15px 10px;

    display: flex;
    justify-content: center;
}

.page-nav nav a {
    padding: .5em;
    font-weight: bold;
    font-size: 1.3rem;
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-current {
    color: var(--nav-current-color);
    background: var(--accent-color);
    text-decoration-line: unset;
}

code {
    font-family: "Jetbrains Mono", "Noto Sans Mono", monospace;
    font-size: .8rem;
}

/* this might suck for inline verbatim... */
[class^="language"] {
    justify-content: center;
}

.highlight pre {
    white-space: pre-wrap;
    /* margin: 20px; */
    width: fit-content;
}

a {
    color: var(--accent-color);
}

a:hover {
    background: var(--accent-color);
    color: var(--nav-current-color);
    padding: 2px;
    text-decoration-line: unset;
}
